* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container .row .flag {
    width: 40px;
    height: 40px;
}

html {
    scroll-behavior: smooth;
}

/* 
.row {
    height: 80px;
} */